* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

.box {
    background-color: #fafafa;
    border: 1px solid #a19ba9;
}

.title {
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
    box-sizing: border-box;
}

.title:after {
    content: "";
    display: table;
    clear: both;
}

.titlewz {
    width: 650px;
    height: 40px;
    float: left;
}

.titlewz > a:not(:first-child):before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -15px;
    width: 1px;
    height: 100%;
    background-color: black;

}

.titlewz > a, .titleright > a {
    line-height: 40px;
    font-size: 13px;
    color: #a19ba9;
    position: relative;
}

.titlewz > a {
    margin-right: 30px;
}

.titleright {
    float: right;
}

.body {
    margin-right: auto;
    margin-left: auto;
    width: 1240px;
    margin-top: 25px;
    position: relative;
}

.bodyone {
    height: 70px;
    position: relative
}

.bodyonedisan {
    width: 144px;
    position: absolute;
    top: 0px;
    right: 0px
}

.bodyonedierone {
    width: 160px;
    height: 40px;
    background-color: #ffdb3d;
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
}

.bodyonediyione {
    width: 370px;
    height: 36px;
    position: absolute;
    right: 210px;
    bottom: 0
}

.bodyonedidyituo {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 171px;
    bottom: 0;
    background-color: white;
    border-color: #A9A9A9
}

.bodytuo {
    margin-top: 25px;
    width: 1240px;
    height: 50px;
    position: relative;
}

.bodytuo a {
    font-size: 20px;
    color: white;
}

.bodytuodiyi {
    width: 300px;
    line-height: 49px;
    background-color: #ff4a00;
    position: relative;
}

.bodytuodiyi > a {
    margin-left: 25px;
}

.bodytuodiyi > img {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}

.bodytuodier {
    float: left;
    background-color: #404145;
    height: 50px;
    position: absolute;
    line-height: 50px;
    right: 0;
    top: 0;
    width: 940px;
}

.bodytuodierone {
    margin-left: 25px;
}

.bodytuodiertuo {
    margin-left: 30px;
}

.bodythree {
    margin-top: 30px;
    overflow: hidden;
}

.bodythreediyi {
    float: left
}

.bodythreediyione {
    font-size: 20px;
}

.bodythreediyituo {
    font-size: 13px;
    margin-left: 20px;
}

.bodythreedier {
    float: right
}

.bodythreedier > a {
    margin-right: 20px;
    font-size: 13px
}

.bodythreedier > button {
    width: 120px;
    height: 30px;
    background-color: #ff4a00;
    border: none
}

.bodythreedierone {
    color: white
}

.bodyfour {
    width: 1903px;
    text-align: center;
    background: url("images/hezi.png");
    height: 917px;
    margin-top: 30px;
}

.bodyfour > img {
    margin-left: -43%
}

.bodyfourdiyi {
    margin-top: -45px
}

.bodyfourdiyione {
    font-size: 45px
}

.bodyfourdiyituo {
    font-size: 13px;
    margin-top: 10px
}

.bodyfourdiyithree {
    font-size: 45px;
    margin-top: 20px;
    color: #ff4a00
}

.bodyfourdiyi > button {
    width: 145px;
    height: 45px;
    background-color: #ff4a00;
    border: none
}

.bodyfourdiyifoue {
    color: white
}

.bodyfive {
    width: 1903px;
    text-align: center;
    height: 980px;
    background: url("images/xiaomichazuo.png")
}

.bodyfivediyi {
    font-size: 45px
}

.bodyfivedier, .bodyfivedisan {
    font-size: 13px;
    margin-top: 10px
}

.bodysix {
    background: url("images/jihe.png");
    width: 1903px;
    height: 1141px
}

.bodyseven {
    background: url("images/dianying.png");
    width: 1903px;
    height: 1252px
}

.bodyeight {
    background: url("images/jiating.png");
    width: 1903px;
    height: 970px
}

.bodynine {
    text-align: center;
    background-color: #FCFCFC;
    height: 1000px
}

.bodyninediyi {
    font-size: 45px
}

.bodyninedier {
    font-size: 45px;
    color: #ff4a00
}

.bodynine > button {
    width: 150px;
    height: 40px;
    background-color: #ff4a00;
    border: none
}

.bodyninedisi {
    color: white
}

.bodynineone {
    margin-top: 140px;
    overflow: hidden;
}

.bodynineonediyi {
    width: 5%;
    float: left;
    margin-left: 235px
}
.bodynum{height: 475px}

.bodynumone, .bodynumethree {
    float: left;
    width: 33%;
    height: 425px;
    text-align: center
}

.bodynumone > img {
    display: block;
    margin-left: 425px
}

.bodynumone > p {
    margin-left: 430px;
}

.bodynumonediyi {
    font-size: 20px;
}

.bodynumonedier {
    font-size: 13px;
    margin-top: 20px;
}

.bodynumonedisan {
    color: #ff4a00
}

.bodynumetuo {
    width: 34%;
    float: left;
    height: 425px;
    text-align: center
}

.bodynumetuo > img {
    width: 330px;
    height: 250px
}
.bodynumthreediyi{font-size: 20px;margin-top: 10px}
.bodynumefoue {
    margin-top: 30px;
    overflow: hidden;
    clear:both;
}

.bodyfouediyi {
    float: left;margin-left: 300px;
}

.bodyfouediyione {
    font-size: 20px;
}

.bodyfouediyituo {
    font-size: 13px;
    margin-left: 20px;
}

.bodyfouedier {
    float: right;
    margin-right: 300px;
}

.bodyfouedier > a {
    margin-right: 20px;
    font-size: 13px
}

.bodyfouedier > button {
    width: 120px;
    height: 30px;
    background-color: #ff4a00;
    border: none
}

.bodythreedierone {
    color: white
}
.bottom {
    width: 1920px;
    height: 600px;
    position: absolute;
    background-color: #fafafa;
    top: 7100px;


}

.bottomonediyi {
    position: absolute;
    left: 400px;
    top: 50px;
    width: 150px;
    height: 75px
}

.bottomonediyi > img, .bottomonedier > img, .bottomonedisan > img, .bottomonedisi > img, .bottomonediwu > img {
    position: absolute;
    top: 0px;
    left: 20px
}

.bottomonediyi > a, .bottomonedier > a, .bottomonedisan > a, .bottomonedisi > a, .bottomonediwu > a {
    position: absolute;
    top: 50px
}

.bottomonedier {
    position: absolute;
    left: 625px;
    top: 50px;
    width: 150px;
    height: 75px
}

.bottomonedisan {
    position: absolute;
    left: 900px;
    top: 50px;
    width: 150px;
    height: 75px
}

.bottomonedisi {
    position: absolute;
    left: 1175px;
    top: 50px;
    width: 150px;
    height: 75px
}

.bottomonediwu {
    position: absolute;
    left: 1450px;
    top: 50px;
    width: 150px;
    height: 75px
}

.bottomzjx {
    margin-left: 360px;
    width: 1240px;
    border: 1px solid #dfdfdf;
    position: absolute;
    top: 200px
}

.bottomzjx2 {
    margin-left: 360px;
    width: 1240px;
    border: 1px solid #dfdfdf;
    position: absolute;
    top: 450px;
}

.bottomfuwu {
    position: absolute;
    margin-top: 260px;
    margin-left: 360px;
    width: 1240px;
    height: 115px
}

.fuwu1, .fuwu5, .fuwu9, .fuwu13, .fuwu17 {
    position: absolute;
    font-size: 17px;
    color: black
}

.fuwu2, .fuwu6, .fuwu10, .fuwu14, .fuwu18 {
    position: absolute;
    top: 40px
}

.fuwu3, .fuwu7, .fuwu11, .fuwu15, .fuwu19 {
    position: absolute;
    top: 70px
}

.fuwu4, .fuwu8, .fuwu12, .fuwu16, .fuwu20 {
    position: absolute;
    top: 100px
}

.fuwu45, .fuwu89, .fuwu1213, .fuwu1617, .fuwu2021 {
    position: absolute;
    height: 140px;
    border: 1px solid #dfdfdf
}

.fuwu45 {
    left: 200px;
}

.fuwu89 {
    left: 400px
}

.fuwu1213 {
    left: 600px
}

.fuwu1617 {
    left: 800px
}

.fuwu2021 {
    left: 1000px
}

.fuwu5, .fuwu6, .fuwu7, .fuwu8 {
    left: 240px;
}

.fuwu9, .fuwu10, .fuwu11, .fuwu12 {
    left: 440px;
}

.fuwu13, .fuwu14, .fuwu15, .fuwu16 {
    left: 640px
}

.fuwu17, .fuwu18, .fuwu19, .fuwu20 {
    left: 840px
}

.fuwu21 {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 25px
}

.fuwu22 {
    position: absolute;
    right: 45px;
    top: 40px;
    font-size: 13px
}

.fuwu23 {
    position: absolute;
    right: 60px;
    top: 60px;
    font-size: 13px
}

.fuwu24 {
    position: absolute;
    right: 40px;
    top: 100px;
    width: 118px;
    height: 33px;
    border: none;
    background-color: #ff4a00
}

.fuwu25 {
    color: white
}

.wzbottom {
    position: absolute;
    left: 500px;
    top: 480px;
    width: 1200px;
    height: 100px
}

.wz1, .wz25, .wz2, .wz3, .wz4, .wz5, .wz6, .wz7, .wz8, .wz9, .wz10, .wz11, .wz12, .wz13, .wz14, .wz15, .wz16, .wz17, .wz18, .wz19, .wz20, .wz21 {
    position: absolute;
    top: 0;
}

.wz1 {
    left: 0
}

.wz25 {
    left: 140px
}

.wz2 {
    left: 155px
}

.wz3 {
    left: 200px
}

.wz4 {
    left: 215px
}

.wz5 {
    left: 260px
}

.wz6 {
    left: 285px
}

.wz7 {
    left: 350px
}

.wz8 {
    left: 375px
}

.wz9 {
    left: 450px
}

.wz10 {
    left: 465px
}

.wz11 {
    left: 530px
}

.wz12 {
    left: 550px
}

.wz13 {
    left: 620px
}

.wz14 {
    left: 650px
}

.wz15 {
    left: 750px
}

.wz16 {
    left: 725px
}

.wz17 {
    left: 825px
}

.wz18 {
    left: 815px
}

.wz19 {
    left: 900px
}

.wz20 {
    left: 950px
}

.wz21 {
    left: 1000px
}

.wz22 {
    position: absolute;
    top: 35px;
    left: 130px
}

.wz23 {
    position: absolute;
    top: 90px;
    left: 400px
}

.wz24 {
    position: absolute;
    top: 75px;
    left: 585px;
    width: 200px;
    height: 35px
}

.wz25, .wz3, .wz5, .wz7, .wz9, .wz11, .wz13, .wz100, .wz16, .wz18, .wz20 {
    border: 1px solid #dfdfdf;
    height: 10px
}
